extends layout
block content
	h1 Dodawanie 
	form(method="post" action="/add")
		label Nazwa
		br
		input(type="text" name="name")
		br
		label Paliwo
		br
		input(type="text" name="fuel")
		br
		label Rok
		br
		input(type="number" name="year")
		br
		input(type="submit" value="Dodaj")
		if message!=''
			p #{message}