doctype html
html(lang='pl')
	head
		title='Lista samochodów'
	body
		nav
			ul
				li
					a(href="/") Start
				li
					a(href="/list") Lista
				li
					a(href="/add") Dodaj
		main
			block content
		footer
			p Prosta apka w express, node, pug
